<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}



    {% javascripts '%kernel.root_dir%/../vendor/components/jquery/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/*' filter='cssrewrite' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
